.heading{
    top: 0;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    font-size: 15px;
    display: flex;
}

.icon{
    margin-right: 20px;
    color: #0009;
}

.iconOption{
    display: flex;
    right: 10px;
}

.profilePicture{
    border-radius: 50%;

}