.all{
    display: flex;
    width: 100%;
    /* width: 1500px;
    margin: auto; */
    margin-top: 20px;

}

.main{
    width: 50%;
    height: 100%; 
    margin-left:10%;
    margin-right:5%;
}

.side{
    margin-right:10%;
    width: 25%;
    height: 100%;

}

.mainContent{
    /* position: relative; */
    background-color: white;
    margin-bottom: 20px;
    border-radius: 24px;
    min-height: 100px;
}

.text{
    position: relative;
    top:10px;
    left:20px;
    font-size: 20px;
    font-weight: bold;
}


.content{
    margin-right: 20px;
    margin-bottom: 10px;
    margin-top:15px;
    color: rgba(0,0,0,0.6);
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
}

/* JobOpeningCompany */

.mainJob{
    display: flex;
}

.job{
    display: flex;
    margin:10px 20px ;
    width:  50%;
}

.showAll{
    width: 100%;
    background-color: white;
    border: 0px;
    font-size: 16px;
    height:30px;
    margin-top:10px;
    border-radius: 24px;
}

/* Show Post */

.mainPost{
    display: flex;
    margin-top: 20px;
}

.postDetail{
    width: 50%;
    margin-top:20px;
    margin-bottom: 10px;
    background-color: white;
    border: 1px solid gray;

}

.postInfo{
    display: flex;
}

.profilePic{
    width: 41px;
    height: 41px;
    border-radius: 50%;
    margin: auto;
    margin-left:10px;
    margin-right:10px;
}

.info{

}

.paginationButton{
    margin-top:10px;
}

.pageButton{
    margin-right:10px;
    border-radius: 50%;
    border: 0px;
}

.smallPost{
    width: 49%;
    margin-right: 10px;
}

/* sideUser */

.subSide{
    color: rgba(0,0,0,0.6);
    background-color: white;
    border-radius: 24px;
    margin-bottom: 20px;
}

.sideInfo{
    display: flex;
    margin: 20px 10px 10px 10px;
}

.smallProfilePic{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin: 5px 5px 5px 5px;
    /* margin: auto; */
}


.sideInfo p{
    margin: 0px 0px 0px 0px;
}

.sideInfo h3{
    margin: 0px 0px 0px 0px;
    color: black;
}

.button{
    /* margin: 10px 10px 10px 10px; */
    margin-top:10px;
    width: 80px;
    border: 0px;
    border-radius: 24px;
    height: 30px;
    border: 1px solid rgba(0,0,0,0.6);
}

