.all{
    display: flex;
    width: 100%;
    /* width: 1500px;
    margin: auto; */
    margin-top: 20px;

}

.main{
    width: 60%;
    height: 100%; 
    margin-left:5%;
    margin-right:5%;
}

.side{
    margin-right:5%;
    width: 25%;
    height: 100%;

}

.infoCard{
    position: relative;
    background-color: #f5f5f5;
    margin-bottom: 20px;
    border-radius: 24px;


}

.profilePic{
    position:absolute;
    margin-top: 100px;
    margin-left: 10px;
    top : 30px;

}

.backGround{
    position: absolute;
    width: 100%;
    max-height: 200px;
    border-radius: 24px;

}

.mainInfo{
    position: relative;
    margin-left:20px
}

.buttonOption{
    display: flex;
    margin-left:20px
}

.button{
    flex-wrap: wrap;
    border-radius: 24px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    width: 150px;
    height: 40px;
    margin-right: 10px;
}

.profilePic{
    position: relative;
    left: 10px;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
}

.mainInfo{
    position: relative;
    left: 10px
}